/source/
/tests/
emerald-config.json
prettier.config.js
/dist/
node_modules/
.DS_Store
/test.js
/test2.js
/testing/
/docs/
/docs-source/
/examples/
/test-performance/
!/dist/command-functions.js
!/dist/command-functions.map
!/**/.gitkeep
/tests/